      <footer class="footer position-fixed bottom-0 w-100 p-3 bg-white border-top">
        <div class="container d-flex align-items-center justify-content-between">

          <button class="btn border-0 p-0">
            <a href="ca_mypage.html" class="nav-link" data-page="dashboard">
            <i class="ti ti-home"></i>
            <small>マイページ</small>
            </a>
          </button>

          <button class="btn border-0 p-0">
            <a href="ca_mypage.html#res-list" class="nav-link" data-page="res-list">
            <i class="ti ti-timeline-event-exclamation"></i>
            <small>予約リスト</small>
            </a>
          </button>

          <button class="btn border-0 p-0">
            <a href="ca_mypage.html#timeline" class="nav-link" data-page="timeline">
                <i class="ti ti-users"></i>
                <small>タイムライン</small>
            </a>
          </button>

        </div>
      </footer>