<nav class="rk-bottomnav">
  <a href="cu_mypage.html" class="rk-bottomnav__item" data-page="mypage">
    <i class="ti ti-home"></i>
    <small>HOME</small>
  </a>
  <a href="cu_booking.html" class="rk-bottomnav__item" data-page="booking">
    <i class="ti ti-calendar-plus"></i>
    <small>予約</small>
  </a>
  <a href="cu_mypage.html#fav" class="rk-bottomnav__item" data-page="fav">
    <i class="ti ti-heart"></i>
    <small>推し</small>
  </a>
  <a href="tel:03-1234-5678" class="rk-bottomnav__item" id="support">
    <i class="ti ti-phone"></i>
    <small>お問い合わせ</small>
  </a>
</nav>
