      <footer class="footer position-fixed bottom-0 w-100 p-3 bg-white border-top">
        <div class="container d-flex align-items-center justify-content-between">

          <button class="btn border-0 p-0">
            <a href="op_dashboard.html" class="nav-link" data-page="dashboard">
            <i class="ti ti-home"></i>
            <small>ホーム</small>
            </a>
          </button>

          <button class="btn border-0 p-0">
            <a href="op_schedule.html" class="nav-link" data-page="schedule">
            <i class="ti ti-timeline-event-exclamation"></i>
            <small>予約</small>
            </a>
          </button>

          <button class="btn border-0 p-0">
            <a href="op_customers.html" class="nav-link" data-page="customers">
                <i class="ti ti-users"></i>
                <small>顧客</small>
            </a>
          </button>

          <button class="btn border-0 p-0">
            <a href="op_room.html" class="nav-link" data-page="room">
              <i class="ti ti-door"></i>
                <small>ルーム</small>
            </a>
          </button>

          <button class="btn border-0 p-0">
            <a href="op_shift.html" class="nav-link" data-page="shift">
              <i class="ti ti-calendar-clock"></i>
                <small>シフト</small>
            </a>
          </button>
        </div>
      </footer>