<aside class="sidebar">
  <div class="sidebar-header">
    <a href="index.html" class="sidebar-brand">
        <img src="./assets/image/logo.svg" style="height: 24px;" alt="">
    </a>
  </div>
  <nav class="sidebar-nav">
    <ul class="nav-item">
      <li><a href="op_dashboard.html" class="nav-link" data-page="dashboard">
        <i class="ti ti-home"></i>ホーム
      </a></li>
      <li><a href="op_schedule.html" class="nav-link" data-page="schedule">
        <i class="ti ti-calendar"></i>予約タイムライン
      </a></li>
      <li><a href="op_order.html" class="nav-link" data-page="order">
        <i class="ti ti-file-text"></i>予約申請
      </a></li>
      <li><a href="op_customers.html" class="nav-link" data-page="customers">
        <i class="ti ti-users"></i>顧客管理
      </a></li>
      <li><a href="op_sales.html" class="nav-link" data-page="sales">
            <i class="ti ti-chart-bar"></i>売上管理
      </a></li>
      <li><a href="op_shift.html" class="nav-link" data-page="shift">
        <i class="ti ti-layout-grid"></i>シフト
      </a></li>
    </ul>
  </nav>
</aside>
